<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/artworks.css">
	<link rel="stylesheet" href="stylesheets/footer.css">
	<title>David-San</title>
</head>
<body>
	<%- include('partials/navbar') %>

	<h1>Artworks</h1>

	<div id="aw-container">
	<% for(let artwork of artworks) { %>
		<div class="artwork">
			<img class="art-image" src="<%= artwork.image %>" alt="<%= artwork.title %>">
			<h2 class="art-title"><a href="/artworks/<%= artwork._id %>"><%= artwork.title %></a></h2>
			<p class="art-description"><%= artwork.description %></p>
			<p class="edit-button"><a href="/artworks/<%= artwork._id %>/edit">Edit artwork</a></p>
		</div>
	<% } %>
	<button id="show-more-btn">Show More</button>
	</div>

	<%- include('partials/footer') %>

	<script src="scripts/navbar-top.js"></script>
	<script src="scripts/show-more.js"></script>

</body>
</html>