<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/new.css">
  <title>Edit <%= artwork.title %></title>
</head>

<body>
  <h1>Edit <%= artwork.title %></h1>
  <div class="container">
    <form action="/artworks/<%= artwork._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= artwork.title %>" required>
      <br>

      <label for="image">Image:</label>
      <% if (artwork.cloudinaryId) { %>
      <img src="<%= artwork.image %>" alt="<%= artwork.title %>" style="max-width: 400px;">
      <br>
      <label for="deleteImage">
        <input type="checkbox" id="deleteImage" name="deleteImage">
        Delete current image
      </label>
      <br>
      <% } %>
      <input type="file" id="image" name="image" accept="image/*">
      <br>

      <label for="description">Description:</label>
      <textarea name="description" id="description" required><%= artwork.description %></textarea>
      <br>

      <button type="submit">Update Artwork</button>
    </form>
    <form action="/artworks/<%= artwork._id %>?_method=DELETE" method="POST">
      <button type="submit" class="delete">Delete</button>
    </form>
  </div>

</body>

</html>