<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit <%= artwork.title %></title>
</head>

<body>
  <h1>Edit <%= artwork.title %></h1>

  <form action="/artworks/<%= artwork._id %>?_method=PUT" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= artwork.title %>" required>
    <br>

    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image" value="<%= artwork.image %>">
    <br>

    <label for="description">Description:</label>
    <textarea name="description" id="description" required><%= artwork.description %></textarea>
    <br>

    <button type="submit">Update Artwork</button>
  </form>
</body>

</html>