<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= artwork.title %></title>
</head>

<body>
  <h1><%= artwork.title %></h1>
  <% if (artwork.image) { %>
  <img src="<%= artwork.image %>" alt="<%= artwork.title %>">
  <% } %>
  <p><%= artwork.description %></p>
  <a href="/artworks">Back to Artworks</a>
</body>

</html>