<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <title><%= artwork.title %></title>
</head>

<body>
  <h1><%= artwork.title %></h1>
  <% if (artwork.image) { %>
  <img src="<%= artwork.image %>" alt="<%= artwork.title %>">
  <% } %>
  <p><%= artwork.description %></p>
  <form action="/artworks/<%= artwork._id%>?_method=DELETE" method="POST">
    <button type="submit" class="delete">Delete</button>
  </form>
  <a href="/artworks">Back to Artworks</a>
  <a href="/artworks/<%= artwork._id %>/edit">Edit</a>
</body>

</html>