<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <link rel="stylesheet" href="/stylesheets/new.css">
  <title>Edit Exhibition</title>
</head>

<body>
  <h1>Edit Exhibition</h1>
  <div class="container">
    <form action="/exhibitions/<%= exhibition._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= exhibition.title %>">
      <br><br>

      <label for="shortDescription">Short Description:</label>
      <input type="text" name="shortDescription" id="shortDescription" value="<%= exhibition.shortDescription %>">
      <br><br>

      <label for="description">Description:</label>
      <textarea id="description" name="description"><%= exhibition.description %></textarea>
      <br><br>

      <label for="thumbnail">New Thumbnail:</label>
      <input type="file" id="thumbnail" name="thumbnail">
      <br><br>

      <label for="current-thumbnail">Existing Thumbnail:</label>
      <img src="<%= exhibition.thumbnail.url %>" alt="Exhibition Thumbnail" id="current-thumbnail">
      <br>
      <label>
        <input type="checkbox" name="deleteThumbnail" value="<%= exhibition.thumbnail.publicId %>">
        Remove Thumbnail
      </label>

      <label for="images">New Images:</label>
      <input type="file" id="images" name="images" multiple>
      <br><br>

      <% if (exhibition.images.length > 0) { %>
      <label for="delete-images">Existing Images:</label>
      <ul id="delete-images">
        <% exhibition.images.forEach(function(image) { %>
        <li>
          <label>
            <input type="checkbox" name="deleteImages[]" value="<%= image.publicId %>">
            Delete
            <img src="<%= image.url %>" alt="Exhibition Image">
          </label>
        </li>
        <% }) %>
      </ul>
      <% } %>
      <br>
      <button type="submit">Save Changes</button>
    </form>
    <form action="/exhibitions/<%= exhibition._id %>?_method=DELETE" method="POST" class="delete-form">
      <button type="submit" class="delete">Delete</button>
    </form>
  </div>


  <a href="/exhibitions">Back to Exhibitions</a>
</body>

</html>