<!DOCTYPE html>
<html lang="en">

<head>
  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/exhibitions.css">
	<link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
</head>

<body>
	<%- include('../partials/navbar') %>

	<h1 class="exh-heading">Exhibitions</h1>

	<div id="exhibitions-container">
		<% for(let exhibition of exhibitions) { %>
			<div class="exhibition">
				<h2 class="exh-title"><%= exhibition.title %></h2>
				<p class="exh-desc"><%= exhibition.shortDescription %></p>
				<a href="/exhibitions/<%= exhibition._id %>"><img src="<%= exhibition.thumbnail.url %>" alt=""></a>
			</div>
		<% } %>

		<button id="show-more-btn">Show More</button>
	</div>

  <%- include('../partials/footer') %>

  <script src="../scripts/show-more-exhibitions.js"></script>
  <script src="../scripts/navbar-top.js"></script>
</body>

</html>