<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exhibitions</title>
  <link rel="stylesheet" href="/stylesheets/exhibitions.css">
</head>

<body>
  <h1>Exhibitions</h1>
  <ul>
    <% exhibitions.forEach(function(exhibition) { %>
    <li>
      <%= exhibition.title %>
      <ul>
        <% exhibition.images.forEach(function(image) { %>
        <li><img src="<%= image.url %>" alt="<%= exhibition.title %>"></li>
        <% }); %>
      </ul>
      <form action="/exhibitions/<%= exhibition._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
      <a href="/exhibitions/<%= exhibition._id %>/edit">Edit</a>
    </li>
    <% }); %>
  </ul>
  <a href="/exhibitions/new">Create New Exhibition</a>
</body>

</html>