<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
  <title><%= exhibition.title %> - Exhibition</title>
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <link rel="stylesheet" href="../stylesheets/exhibition.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
</head>

<body>
  <%- include('../partials/navbar') %>
  
  <h1><%= exhibition.title %></h1>

  <div class="content-container">

    <p id="short-desc"><%= exhibition.shortDescription %></p>

    <p id="norm-desc"><%= exhibition.description %></p>

    <div class="image-container">
      <% exhibition.images.forEach(function(image) { %>
      <img src="<%= image.url %>" alt="<%= exhibition.title %>">
      <% }) %>
    </div>

    <a href="/exhibitions/<%= exhibition._id %>/edit" class="btn">Edit</a>
    <form action="/exhibitions/<%= exhibition._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete</button>
    </form>
    <a href="/exhibitions" class="btn">Back</a>

  </div>
  
  <script src="/scripts/navbar-top.js"></script>

  <%- include('../partials/footer') %>

</body>

</html>